# Global
.DS_Store
node_modules/
dist/
build/
.env
.env.local
.env.*.local
*.log

# Java
target/
*.class
.idea/
*.iml
.settings/
.classpath
.project

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
